<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <link rel="stylesheet" href="/static/cms/assets/css/tailwind.css"> -->
    <style>
        .marquee {
            width: 100%;
            margin: 0 auto;
            white-space: nowrap;
            overflow: hidden;
            height: 61px;
            background: #000000;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
        }

        .marquee .text {
            display: inline-block;
            padding-left: 4.4rem;
            text-indent: 0;
            animation: marquee 12s linear infinite;
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 125%;
            letter-spacing: -0.04em;
            text-transform: uppercase;
            color: #f2f2f2;
        }

        @keyframes marquee {
            0% {
                transform: translate(0, 0);
            }

            100% {
                transform: translate(-100%, 0);
            }
        }
    </style>
</head>

<body>
    <!------------------navbar section------------------------->
    <section>
        <div class="flex flex-wrap items-center justify-between p-12 border-b">
            <div class="w-full lg:w-1/2"><a href="/"><img class="h-9 mx-auto lg:mx-0"
                        src="/static/cms/assets/images/nordic-rose-log.svg" alt=""></a></div>
            <div class="flex items-center w-full justify-center lg:justify-end lg:w-1/2">
                {{if ne .UserData.ID 0}}
                <div class="px-6 uppercase"><a href="/create">Write Blog</a></div>
                <div class="px-6 uppercase"><a href="javascipt:;">My Blogs</a></div>
                <div class="px-6 uppercase"><a href="/logout">Logout</a></div>

                {{else}}
                <div class="px-6 uppercase"><a href="/signup">Sing up</a></div>
                <div class="px-6 uppercase"><a href="/signin">Log In</a></div>
                {{end}}
            </div>
        </div>
    </section>
    <!----------------------big article section------------------------------->
    <section>
        <div class=" container mx-auto">
            <div class=" pt-16 pb-11"><img class="mx-auto" src="/static/cms/assets/images/big-article.png" alt=""></div>
            <h2 class=" font-bold text-5xl text-center lg:w-4/6 mx-auto">A few words about this blog platform, Ghost,
                and how this site was made</h2>
            <p class="lg:w-1/2 mx-auto text-center text-xl font-mono py-8">Why Ghost (& Figma) instead of Medium,
                WordPress or other options?</p>
        </div>
    </section>
    <!-------------------all articles lists---------------------->
    <section>
        <div class="container mx-auto border-t py-16 w-7/12 ">
            <h3 class="text-center text-4xl font-bold">All articles</h3>
            <form method="get" class=" flex justify-center items-center">
                <div class="bg-white p-4 w-96 rounded-md">
                    <div class="mt-5 mb-2 border-2 py-1 px-3 flex justify-between rounde-md rounded-md">
                        <input class="flex-grow outline-none text-gray-600  focus:text-blue-600" type="search"
                            name="search" placeholder="Search articles..." id="search" />
                        <spa>
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="h-6 w-6 text-gray-400 hover:text-blue-400 transition duration-100 cursor-pointer"
                                fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                            </svg>
                        </spa>
                    </div>
                </div>
            </form>
            <div class="w-full flex flex-wrap items-center justify-between">
                {{range .Blogs}}
                <div class="w-full lg:w-1/2 justify-center p-6">
                    <a href="/blog/{{.ID}}/read">
                        <img class="w-full" src="/static/cms/assets/images/{{.PictureString}}" alt="">
                        <p class=" text-xl font-medium text-center pt-5 px-4">{{.Title}}</p>
                    </a>
                </div>
                {{end}}

            </div>
        </div>
    </section>
    <!---------------------------footer--------------------------------->
    <section>
        <div class=" bg-black py-9">
            <!------------------------------------------------->
            <section class="marquee">
                <h4 class="text">
                    Nordic rose - The Blog of Champions.
                </h4>
                <h4 class="text">
                    Nordic rose - The Blog of Champions.
                </h4>
                <h4 class="text">
                    Nordic rose - The Blog of Champions.
                </h4>
                <h4 class="text">
                    Nordic rose - The Blog of Champions.
                </h4>
                <h4 class="text">
                    Nordic rose - The Blog of Champions.
                </h4>
                <h4 class="text">
                    Nordic rose - The Blog of Champions.
                </h4>
                <h4 class="text">
                    Nordic rose - The Blog of Champions.
                </h4>
            </section>
            <!-------------------------------------->

            <div class="flex justify-center pt-28 pb-6">
                <img class="h-7" src="/static/cms/assets/images/logo-white.svg" alt="">
            </div>
            <p class="text-white text-center w-2/6 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Duis eu velit tempus erat egestas efficitur. In hac habitasse platea dictumst. Fusce a nunc eget ligula
                suscipit finibus. </p>
            <div class="flex items-center justify-center py-9">
                <div class=" border-b-2 border-white mx-6 py-2 text-center">
                    <a class="text-white font-medium" href="javascript:;">Twitter</a>
                </div>
                <div class=" border-b-2 border-white mx-6 py-2 text-center">
                    <a class="text-white font-medium" href="javascript:;">LinkedIn</a>
                </div>
                <div class=" border-b-2 border-white mx-6 py-2 text-center">
                    <a class="text-white font-medium" href="javascript:;">RSS</a>
                </div>
            </div>
            <div class=" text-center text-white font-medium pt-8">
                <p>© 2012–2020 Nordic Rose Co.</p>
                <p> All rights reserved. </p>
            </div>
        </div>
    </section>
</body>

</html>