<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Sign up</title>
</head>
<body>
    <!-- <form method="post" action="/register">
		<label>Username</label>
		<input type="text" name="UserName" value="{{.User.UserName}}"/>
        <br>
        <p>{{.Error.UserName}}</p>
        <br>

        <label>Email</label>
		<input type="email" name="Email" value="{{.User.Email}}"/>
        <br>
        <p>{{.Error.Email}}</p>
        <br>

        <label>Password</label>
		<input type="password" name="Password" value=""/>
        <br>
        <p>{{.Error.Password}}</p>
        <br>
		<button type="submit">Register</button>
	</form> -->




    <div class="h-screen flex">
        
        <div class="flex w-1/2 justify-center items-center bg-white">
          <form class="bg-white" method="post" action="/register">
            <h1 class="text-gray-800 font-bold text-2xl mb-1">Hello There!</h1>
            <p class="text-sm font-normal text-gray-600 mb-7">Let's join</p>
            <div class="mb-4">
                <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
                    </svg>
                    <input class="pl-2 outline-none border-none" type="text" name="UserName" value="{{.User.UserName}}" />
                  </div>
                  <p class="text-sm text-red-600 pl-4">{{.Error.UserName}}</p>
            </div>

            <div class="mb-4">
                <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
                    </svg>
                    <input class="pl-2 outline-none border-none" type="email" name="Email" value="{{.User.Email}}" />
                  </div>
                  <p class="text-sm text-red-600 pl-4">{{.Error.Email}}</p>
            </div>
            
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
              </svg>
              <input class="pl-2 outline-none border-none" type="password" name="Password" value=""/>
            </div>
            <p class="text-sm text-red-600 pl-4">{{.Error.Password}}</p>
            <button type="submit" class="block w-full bg-indigo-600 mt-4 py-2 rounded-2xl text-white font-semibold mb-2">Register</button>
            <div class="text-right ">
                <a href="/signin" class="inline-block text-sm ml-2 text-indigo-600 hover:text-blue-500 cursor-pointer">Log In</a>
            </div>
          </form>
        </div>
        <div class="flex w-1/2 bg-gradient-to-tr from-blue-800 to-purple-700 i justify-around items-center">
            <div class="flex flex-wrap justify-end">
              <h1 class="w-full text-white font-bold text-4xl font-sans text-right">NorDic Rose</h1>
              <p class="w-full text-white mt-1 text-right">The Blog of Champions. </p>
              <a href="/" class="w-full block w-28 bg-white text-indigo-800 mt-4 py-2 rounded-2xl font-bold mb-2 text-center">Read More</a>
            </div>
          </div>
      </div>
</body>
</html>